<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--默认sql语句别名-->
    <typeAliases>
        <package name="com.yuchengdai.crm.model"/>
    </typeAliases>
    <!--默认映射dao层-->
    <mappers>
        <package name="com.yuchengdai.crm.mapper"/>
    </mappers>
</configuration>